body {
  margin: 150px;
  width: auto;
  line-height: 1.6;
  background-color: whitesmoke;
  font-size: 17px;
  color: black;
  padding: 10px;
}
h1 {
  text-align: center;
    line-height: 1.2;
  border: 1px solid black;
  border-radius: 1px;
  padding: 20px; 
}

img {
  border-radius: 100%;
  padding: 5px;
  width: 200px;
  height: 200px;
  float: right;
  position: relative;
}
